<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="r" value="${4.0*0.0254}"/>
  <xacro:property name="r_h" value="${1.8125*0.0254}"/>
<!--  <xacro:property name="offset" value="${0.008 + 0.0254*sqrt((4.0**2.0)-(2.0**2.0))}"/>-->

  <xacro:macro name="calibration_ee_new" params="prefix">

    <link name="${prefix}base_link">
      <visual>
        <origin xyz="0 0 0.005" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.010" radius="${2.25 * 0.0254}"/>
        </geometry>
        <material name="gray">
          <color rgba="0.7 0.7 0.7 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0.005" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.010" radius="${2.25 * 0.0254}"/>
        </geometry>
        <material name="gray"/>
      </collision>
    </link>

    <link name="${prefix}tool0">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="${r}"/>
        </geometry>
        <material name="gray"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="${r}"/>
        </geometry>
        <material name="gray"/>
      </collision>
    </link>

    <joint name="${prefix}joint_1" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}tool0"/>
      <origin xyz="0 0 0.095123" rpy="0 0 0"/>
    </joint>

  </xacro:macro>
</robot>
